<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
      <mat-toolbar color="primary">Ymenbla App</mat-toolbar>
      <mat-nav-list>
        <!-- <a mat-list-item routerLink="/credits" routerLinkActive="active">Créditos</a> -->
        <a mat-list-item routerLink="/todo" routerLinkActive="active">ToDo</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span>Panel Principal</span>
        <span class="spacer"></span>
        <button mat-button (click)="logout()">Salir</button>
      </mat-toolbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
