.todo-card {
  margin: 2rem;
  padding: 1rem;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

mat-table {
  width: 100%;
}

mat-chip {
  text-transform: capitalize;
  font-weight: 500;
}
